In [6]:
import pandas as pd
import numpy as np
import regex as re
pd.set_option("display.max_columns", 120)

# Hypothesis:

First we want to confirm the top selled headphones from both sides (based on the quantity of reviews) are usually cheaper than the mean price, in order to see what people value most in both markets.
Also we want to proof that wireless/bluetooth earphones are more expensive than wired earphones, and that they are more popular/selled than the other kind based on number of reviews as a measure of popularity.

In [7]:
df = pd.read_csv('../Data/AllProductReviews.csv')
df

,ReviewTitle,ReviewBody,ReviewStar,Product
0,Honest review of an edm music lover\n,No doubt it has a great bass and to a great ex...,3,boAt Rockerz 255
1,Unreliable earphones with high cost\n,"This earphones are unreliable, i bought it be...",1,boAt Rockerz 255
2,Really good and durable.\n,"i bought itfor 999,I purchased it second time,...",4,boAt Rockerz 255
3,stopped working in just 14 days\n,Its sound quality is adorable. overall it was ...,1,boAt Rockerz 255
4,Just Awesome Wireless Headphone under 1000...ðŸ˜‰\n,Its Awesome... Good sound quality & 8-9 hrs ba...,5,boAt Rockerz 255
...,...,...,...,...
14332,Good\n,Good\n,4,JBL T110BT
14333,Amazing Product\n,An amazing product but a bit costly.\n,5,JBL T110BT
14334,Not bad\n,Sound\n,1,JBL T110BT
14335,a good product\n,the sound is good battery life is good but the...,5,JBL T110BT
14336,"Average headphones , n overrated name\n",M writing this review after using for almost 7...,1,JBL T110BT

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14337 entries, 0 to 14336
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ReviewTitle  14337 non-null  object
 1   ReviewBody   14337 non-null  object
 2   ReviewStar   14337 non-null  int64
 3   Product      14337 non-null  object
dtypes: int64(1), object(3)
memory usage: 448.2+ KB

In [14]:
df["Product"].describe()
# For what we can see, the top seller are the 'boAt Rockerz 255'.

count                14337
unique                  10
top       boAt Rockerz 255
freq                  5000
Name: Product, dtype: object

In [16]:
df["ReviewTitle"].describe()

count      14337
unique      9342
top       Good\n
freq         428
Name: ReviewTitle, dtype: object

In [17]:
df["ReviewBody"].describe()

count      14337
unique     13012
top       Good\n
freq         242
Name: ReviewBody, dtype: object

In [20]:
df['ReviewStar'].describe()

count    14337.000000
mean         3.675874
std          1.503409
min          1.000000
25%          3.000000
50%          4.000000
75%          5.000000
max          5.000000
Name: ReviewStar, dtype: float64

In [86]:
df_products = pd.read_csv('../Data/ProductInfo.csv')
df_products

,MRP,Price,ProductFullName,ProductShortName,ReviewURL,id
0,2990,1399,boAt Rockerz 255 Sports Bluetooth Wireless Ear...,boAt Rockerz 255,https://www.amazon.in/255-Bluetooth-Wireless-E...,1
1,3999,1099,Flybot Wave in-Ear Sport Wireless Bluetooth Ea...,Flybot Wave,https://www.amazon.in/Flybot-Wireless-Bluetoot...,2
2,3999,1099,Flybot Boom Deep Bass in-Ear Wireless Bluetoot...,Flybot Boom,https://www.amazon.in/Flybot-Wireless-Bluetoot...,3
3,2000,749,PTron Intunes Pro Headphone Magnetic Earphone ...,PTron Intunes,https://www.amazon.in/PTron-Intunes-Pro-Smartp...,4
4,5999,2999,Flybot Beat True Wireless Bluetooth Earphones ...,Flybot Beat,https://www.amazon.in/Flybot-Wireless-Bluetoot...,5
5,3799,3190,Samsung EO-BG950CBEGIN Bluetooth Wireless in-E...,Samsung EO-BG950CBEIN,https://www.amazon.in/Samsung-EO-BG950CBEGIN-B...,6
6,2999,1999,JBL T205BT Pure Bass Wireless Metal Earbud Hea...,JBL T205BT,https://www.amazon.in/JBL-T205BT-Wireless-Earb...,7
7,7490,6499,Sennheiser CX 6.0BT 507447 in Ear Wireless Ear...,Sennheiser CX 6.0BT,https://www.amazon.in/Sennheiser-CX-507447-Wir...,8
8,5299,3699,Skullcandy S2PGHW-174 in-Ear Wireless Headphon...,Skullcandy S2PGHW-174,https://www.amazon.in/Skullcandy-S2PGHW-174-Wi...,9
9,2259,2000,JBL T110BT Pure Bass Wireless in-Ear Headphone...,JBL T110BT,https://www.amazon.in/JBL-T110BT-Wireless-Head...,10

In [87]:
#We drop the 'id' column as its not needed at all.
df_products.drop(["id"], axis=1, inplace=True)
df_products

,MRP,Price,ProductFullName,ProductShortName,ReviewURL
0,2990,1399,boAt Rockerz 255 Sports Bluetooth Wireless Ear...,boAt Rockerz 255,https://www.amazon.in/255-Bluetooth-Wireless-E...
1,3999,1099,Flybot Wave in-Ear Sport Wireless Bluetooth Ea...,Flybot Wave,https://www.amazon.in/Flybot-Wireless-Bluetoot...
2,3999,1099,Flybot Boom Deep Bass in-Ear Wireless Bluetoot...,Flybot Boom,https://www.amazon.in/Flybot-Wireless-Bluetoot...
3,2000,749,PTron Intunes Pro Headphone Magnetic Earphone ...,PTron Intunes,https://www.amazon.in/PTron-Intunes-Pro-Smartp...
4,5999,2999,Flybot Beat True Wireless Bluetooth Earphones ...,Flybot Beat,https://www.amazon.in/Flybot-Wireless-Bluetoot...
5,3799,3190,Samsung EO-BG950CBEGIN Bluetooth Wireless in-E...,Samsung EO-BG950CBEIN,https://www.amazon.in/Samsung-EO-BG950CBEGIN-B...
6,2999,1999,JBL T205BT Pure Bass Wireless Metal Earbud Hea...,JBL T205BT,https://www.amazon.in/JBL-T205BT-Wireless-Earb...
7,7490,6499,Sennheiser CX 6.0BT 507447 in Ear Wireless Ear...,Sennheiser CX 6.0BT,https://www.amazon.in/Sennheiser-CX-507447-Wir...
8,5299,3699,Skullcandy S2PGHW-174 in-Ear Wireless Headphon...,Skullcandy S2PGHW-174,https://www.amazon.in/Skullcandy-S2PGHW-174-Wi...
9,2259,2000,JBL T110BT Pure Bass Wireless in-Ear Headphone...,JBL T110BT,https://www.amazon.in/JBL-T110BT-Wireless-Head...

In [88]:
# As we can see from the 'ReviewURL', all the links are from the indian Amazon website, so we'll need to convert the
# indian currency 'Price', which are 'rupias' to 'euros'.
# Now that we know that, we don't need than column anymore.
df_products.drop(["ReviewURL"], axis=1, inplace=True)
df_products

,MRP,Price,ProductFullName,ProductShortName
0,2990,1399,boAt Rockerz 255 Sports Bluetooth Wireless Ear...,boAt Rockerz 255
1,3999,1099,Flybot Wave in-Ear Sport Wireless Bluetooth Ea...,Flybot Wave
2,3999,1099,Flybot Boom Deep Bass in-Ear Wireless Bluetoot...,Flybot Boom
3,2000,749,PTron Intunes Pro Headphone Magnetic Earphone ...,PTron Intunes
4,5999,2999,Flybot Beat True Wireless Bluetooth Earphones ...,Flybot Beat
5,3799,3190,Samsung EO-BG950CBEGIN Bluetooth Wireless in-E...,Samsung EO-BG950CBEIN
6,2999,1999,JBL T205BT Pure Bass Wireless Metal Earbud Hea...,JBL T205BT
7,7490,6499,Sennheiser CX 6.0BT 507447 in Ear Wireless Ear...,Sennheiser CX 6.0BT
8,5299,3699,Skullcandy S2PGHW-174 in-Ear Wireless Headphon...,Skullcandy S2PGHW-174
9,2259,2000,JBL T110BT Pure Bass Wireless in-Ear Headphone...,JBL T110BT

In [89]:
# Now we observe the 'Price' column. The 'boAt Rockerz 255', which are the top selled earphones, are way cheaper than
# the mean price, almost half of the price.
df_products["Price"].describe()

count      10.000000
mean     2473.200000
std      1727.307655
min       749.000000
25%      1174.000000
50%      1999.500000
75%      3142.250000
max      6499.000000
Name: Price, dtype: float64

In [90]:
df_products["Price"]

0    1399
1    1099
2    1099
3     749
4    2999
5    3190
6    1999
7    6499
8    3699
9    2000
Name: Price, dtype: int64

In [91]:
# We create a function in order to convert rupees to eur.
import time

def rupees_to_eur():
    print('Converting rupees to euros...')
    time.sleep(1)
    prices_eur = []
    for i in df_products["Price"]:
        eur = round(float(i/87.8529))
        prices_eur.append(eur)
    print('Dropping old column...')
    time.sleep(1)
    df_products.drop(["Price"], axis=1, inplace=True)
    df_products.drop(["MRP"], axis=1, inplace=True)
    print('Appending new column with selected currency...')
    df_products["Prices"] = prices_eur
    time.sleep(1.5)
    print('All processes completed.')
    print(df_products)
        
        

rupees_to_eur()

Converting rupees to euros...
Dropping old column...
Appending new column with selected currency...
All processes completed.
                                     ProductFullName       ProductShortName  \
0  boAt Rockerz 255 Sports Bluetooth Wireless Ear...       boAt Rockerz 255
1  Flybot Wave in-Ear Sport Wireless Bluetooth Ea...            Flybot Wave
2  Flybot Boom Deep Bass in-Ear Wireless Bluetoot...            Flybot Boom
3  PTron Intunes Pro Headphone Magnetic Earphone ...          PTron Intunes
4  Flybot Beat True Wireless Bluetooth Earphones ...            Flybot Beat
5  Samsung EO-BG950CBEGIN Bluetooth Wireless in-E...  Samsung EO-BG950CBEIN
6  JBL T205BT Pure Bass Wireless Metal Earbud Hea...             JBL T205BT
7  Sennheiser CX 6.0BT 507447 in Ear Wireless Ear...    Sennheiser CX 6.0BT
8  Skullcandy S2PGHW-174 in-Ear Wireless Headphon...  Skullcandy S2PGHW-174
9  JBL T110BT Pure Bass Wireless in-Ear Headphone...             JBL T110BT

   Prices
0      16
1      13
2      13
3       9
4      34
5      36
6      23
7      74
8      42
9      23

In [92]:
df_products

,ProductFullName,ProductShortName,Prices
0,boAt Rockerz 255 Sports Bluetooth Wireless Ear...,boAt Rockerz 255,16
1,Flybot Wave in-Ear Sport Wireless Bluetooth Ea...,Flybot Wave,13
2,Flybot Boom Deep Bass in-Ear Wireless Bluetoot...,Flybot Boom,13
3,PTron Intunes Pro Headphone Magnetic Earphone ...,PTron Intunes,9
4,Flybot Beat True Wireless Bluetooth Earphones ...,Flybot Beat,34
5,Samsung EO-BG950CBEGIN Bluetooth Wireless in-E...,Samsung EO-BG950CBEIN,36
6,JBL T205BT Pure Bass Wireless Metal Earbud Hea...,JBL T205BT,23
7,Sennheiser CX 6.0BT 507447 in Ear Wireless Ear...,Sennheiser CX 6.0BT,74
8,Skullcandy S2PGHW-174 in-Ear Wireless Headphon...,Skullcandy S2PGHW-174,42
9,JBL T110BT Pure Bass Wireless in-Ear Headphone...,JBL T110BT,23

In [218]:
import requests
import json

In [219]:
key = open("../key.txt").readlines()[0]

In [220]:
params = {
  'api_key': key,
  'type': 'reviews',
  'url': 'https://www.amazon.es/dp/B0763L841F/ref=twister_B07WZNH3Q8?_encoding=UTF8&psc=1'
}

In [221]:
response = requests.get('https://api.rainforestapi.com/request', params)

In [222]:
response.status_code

200

In [223]:
data = response.json()

In [224]:
type(data)

dict

In [227]:
summary = data.get("summary")

In [268]:
summary

{'rating': 3.9,
 'reviews_total': 2370,
 'rating_breakdown': {'five_star': {'percentage': 53, 'count': 1256},
  'four_star': {'percentage': 19, 'count': 450},
  'three_star': {'percentage': 9, 'count': 213},
  'two_star': {'percentage': 5, 'count': 118},
  'one_star': {'percentage': 14, 'count': 331}}}

In [326]:
rating_break = summary.get("rating_breakdown")
rating_break

{'five_star': {'percentage': 53, 'count': 1256},
 'four_star': {'percentage': 19, 'count': 450},
 'three_star': {'percentage': 9, 'count': 213},
 'two_star': {'percentage': 5, 'count': 118},
 'one_star': {'percentage': 14, 'count': 331}}

In [283]:
rate = pd.DataFrame(rating_break).T
rate.drop(["percentage"], axis=1, inplace=True)
rate

            count
five_star    1256
four_star     450
three_star    213
two_star      118
one_star      331

In [275]:
product = data.get("product")

In [284]:
title = product.get("title")
title

'JBL T205 - Auriculares (AlÃ¡mbrico, Dentro de oÃ­do, Binaural, Intraaural, 20-20000 Hz, Negro)'

In [303]:
rate.insert(1, "product", ["JBL T205", "JBL T205", "JBL T205", "JBL T205", "JBL T205"], True)
rate.insert(0, "ReviewStar", [5, 4, 3, 2, 1], True)

In [315]:
final = rate.reset_index(drop=True)

In [374]:
final

   ReviewStar  count   product
0           5   1256  JBL T205
1           4    450  JBL T205
2           3    213  JBL T205
3           2    118  JBL T205
4           1    331  JBL T205

Next product:

In [317]:
params1 = {
  'api_key': key,
  'type': 'reviews',
  'url': 'https://www.amazon.es/Samsung-BT-EOEG920BR-Auriculares-oficiales-ear/dp/B00U7YKQQC/ref=sr_1_25?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=Samsung+earphones&qid=1604840461&sr=8-25'
}

In [318]:
response1 = requests.get('https://api.rainforestapi.com/request', params1)

In [319]:
response1.status_code

200

In [320]:
data1 = response1.json()

In [323]:
summary1 = data1.get("summary")
summary1

{'rating': 4,
 'reviews_total': 1701,
 'rating_breakdown': {'five_star': {'percentage': 58, 'count': 986},
  'four_star': {'percentage': 14, 'count': 238},
  'three_star': {'percentage': 10, 'count': 170},
  'two_star': {'percentage': 5, 'count': 85},
  'one_star': {'percentage': 12, 'count': 204}}}

In [328]:
rating_break1 = summary1.get("rating_breakdown")
pd.DataFrame(rating_break1)

            five_star  four_star  three_star  two_star  one_star
percentage         58         14          10         5        12
count             986        238         170        85       204

In [331]:
rate1 = pd.DataFrame(rating_break1).T
rate1.drop(["percentage"], axis=1, inplace=True)
rate1

            count
five_star     986
four_star     238
three_star    170
two_star       85
one_star      204

In [332]:
product1 = data1.get("product")
title1 = product1.get("title")
title1

'Samsung BT-EOEG920BR - Auriculares oficiales in-ear, color rojo- VersiÃ³n espaÃ±ola'

In [333]:
rate1.insert(1, "product", ["Samsung BT-EOEG920BR", "Samsung BT-EOEG920BR", "Samsung BT-EOEG920BR", "Samsung BT-EOEG920BR", "Samsung BT-EOEG920BR"], True)
rate1.insert(0, "ReviewStar", [5, 4, 3, 2, 1], True)

In [375]:
final1 = rate1.reset_index(drop=True)
final1

   ReviewStar  count               product
0           5    986  Samsung BT-EOEG920BR
1           4    238  Samsung BT-EOEG920BR
2           3    170  Samsung BT-EOEG920BR
3           2     85  Samsung BT-EOEG920BR
4           1    204  Samsung BT-EOEG920BR

Next product:

In [336]:
params2 = {
  'api_key': key,
  'type': 'reviews',
  'url': 'https://www.amazon.es/Sennheiser-MOMENTUM-Dentro-Binaural-Al%C3%A1mbrico/dp/B013WQINNE/ref=sr_1_22?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=sennheiser+earphones&qid=1604840761&sr=8-22'
}

In [337]:
response2 = requests.get('https://api.rainforestapi.com/request', params2)

In [338]:
response2.status_code

200

In [339]:
data2 = response2.json()

In [340]:
summary2 = data2.get("summary")
summary2

{'rating': 4,
 'reviews_total': 195,
 'rating_breakdown': {'five_star': {'percentage': 56, 'count': 109},
  'four_star': {'percentage': 14, 'count': 27},
  'three_star': {'percentage': 12, 'count': 23},
  'two_star': {'percentage': 10, 'count': 19},
  'one_star': {'percentage': 7, 'count': 13}}}

In [341]:
rating_break2 = summary2.get("rating_breakdown")
pd.DataFrame(rating_break2)

            five_star  four_star  three_star  two_star  one_star
percentage         56         14          12        10         7
count             109         27          23        19        13

In [342]:
rate2 = pd.DataFrame(rating_break2).T
rate2.drop(["percentage"], axis=1, inplace=True)
rate2

            count
five_star     109
four_star      27
three_star     23
two_star       19
one_star       13

In [343]:
product2 = data2.get("product")
title2 = product2.get("title")
title2

'Sennheiser Momentum - Auriculares (AlÃ¡mbrico, Dentro de oÃ­do, Binaural, Intraaural, 15-22000 Hz, Negro, Rojo)'

In [372]:
rate2.insert(1, "product", ["Sennheiser Momentum", "Sennheiser Momentum", "Sennheiser Momentum", "Sennheiser Momentum", "Sennheiser Momentum"], True)
rate2.insert(0, "ReviewStar", [5, 4, 3, 2, 1], True)

In [376]:
final2 = rate2.reset_index(drop=True)
final2

   ReviewStar  count              product
0           5    109  Sennheiser Momentum
1           4     27  Sennheiser Momentum
2           3     23  Sennheiser Momentum
3           2     19  Sennheiser Momentum
4           1     13  Sennheiser Momentum

Next product:

In [382]:
params3 = {
  'api_key': key,
  'type': 'reviews',
  'url': 'https://www.amazon.es/Skullcandy-Inkd-2-0-Auriculares-ear/dp/B00BYVYBPE/ref=sr_1_17?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=XYZFIIQD3DYP&dchild=1&keywords=skullcandy+earphones&qid=1604840922&sprefix=skullcandy+earphone%2Caps%2C191&sr=8-17'
}

response3 = requests.get('https://api.rainforestapi.com/request', params3)

response3.status_code

200

In [383]:
data3 = response3.json()

In [384]:
summary3 = data3.get("summary")
summary3

{'rating': 3.7,
 'reviews_total': 21570,
 'rating_breakdown': {'five_star': {'percentage': 49, 'count': 10569},
  'four_star': {'percentage': 17, 'count': 3666},
  'three_star': {'percentage': 9, 'count': 1941},
  'two_star': {'percentage': 7, 'count': 1509},
  'one_star': {'percentage': 20, 'count': 4314}}}

In [385]:
rating_break3 = summary3.get("rating_breakdown")
pd.DataFrame(rating_break3)

            five_star  four_star  three_star  two_star  one_star
percentage         49         17           9         7        20
count           10569       3666        1941      1509      4314

In [386]:
rate3 = pd.DataFrame(rating_break3).T
rate3.drop(["percentage"], axis=1, inplace=True)
rate3

            count
five_star   10569
four_star    3666
three_star   1941
two_star     1509
one_star     4314

In [387]:
product3 = data3.get("product")
title3 = product3.get("title")
title3

"Skullcandy Ink'd 2.0 - Auriculares in-ear (con micrÃ³fono), blanco"

In [406]:
rate3.insert(1, "product", ["Skullcandy Ink'd 2.0", "Skullcandy Ink'd 2.0", "Skullcandy Ink'd 2.0", "Skullcandy Ink'd 2.0", "Skullcandy Ink'd 2.0"], True)
rate3.insert(0, "ReviewStar", [5, 4, 3, 2, 1], True)

In [407]:
final3 = rate3.reset_index(drop=True)
final3

   ReviewStar  count               product
0           5  10569  Skullcandy Ink'd 2.0
1           4   3666  Skullcandy Ink'd 2.0
2           3   1941  Skullcandy Ink'd 2.0
3           2   1509  Skullcandy Ink'd 2.0
4           1   4314  Skullcandy Ink'd 2.0

Next product:

In [395]:
params4 = {
  'api_key': key,
  'type': 'reviews',
  'url': 'https://www.amazon.es/Auriculares-Micr%C3%B3fono-Incorporado-Aislamiento-Compatibles/dp/B07P9NV78S/ref=sr_1_6?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=pTron+earphones&qid=1604841136&sr=8-6'
}

response4 = requests.get('https://api.rainforestapi.com/request', params4)

response4.status_code

200

In [396]:
data4 = response4.json()

In [397]:
summary4 = data4.get("summary")
summary4

{'rating': 4.2,
 'reviews_total': 594,
 'rating_breakdown': {'five_star': {'percentage': 56, 'count': 332},
  'four_star': {'percentage': 23, 'count': 136},
  'three_star': {'percentage': 10, 'count': 59},
  'two_star': {'percentage': 5, 'count': 29},
  'one_star': {'percentage': 6, 'count': 35}}}

In [399]:
rating_break4 = summary4.get("rating_breakdown")
pd.DataFrame(rating_break4)
rate4 = pd.DataFrame(rating_break4).T
rate4.drop(["percentage"], axis=1, inplace=True)
rate4

            count
five_star     332
four_star     136
three_star     59
two_star       29
one_star       35

In [400]:
product4 = data4.get("product")
title4 = product4.get("title")
title4

'Auriculares, Auriculares con Cables y BotÃ³n, MicrÃ³fono Incorporado, Aislamiento de Ruido y Sonido EstÃ©reo, Compatibles con Andriod, Samsung, Huawei, PC y Otros (Negro y Oro)'

In [408]:
rate4.insert(1, "product", ["Auriculares con Cables", "Auriculares con Cables", "Auriculares con Cables", "Auriculares con Cables", "Auriculares con Cables"], True)
rate4.insert(0, "ReviewStar", [5, 4, 3, 2, 1], True)
final4 = rate4.reset_index(drop=True)
final4

   ReviewStar  count                 product
0           5    332  Auriculares con Cables
1           4    136  Auriculares con Cables
2           3     59  Auriculares con Cables
3           2     29  Auriculares con Cables
4           1     35  Auriculares con Cables

Last product:

In [409]:
params5 = {
  'api_key': key,
  'type': 'reviews',
  'url': 'https://www.amazon.es/Xiaomi-peat%C3%B3n-Cable-cl%C3%A1sico-Negro/dp/B07N8VRRDT/ref=sr_1_70?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=xiaomi+earphones&qid=1604841216&sr=8-70'
}

response5 = requests.get('https://api.rainforestapi.com/request', params5)

response5.status_code

200

In [410]:
data5 = response5.json()
summary5 = data5.get("summary")
summary5

{'rating': 4.3,
 'reviews_total': 60,
 'rating_breakdown': {'five_star': {'percentage': 69, 'count': 41},
  'four_star': {'percentage': 14, 'count': 8},
  'three_star': {'percentage': 4, 'count': 2},
  'two_star': {'percentage': 3, 'count': 1},
  'one_star': {'percentage': 10, 'count': 6}}}

In [411]:
rating_break5 = summary5.get("rating_breakdown")
pd.DataFrame(rating_break5)
rate5 = pd.DataFrame(rating_break5).T
rate5.drop(["percentage"], axis=1, inplace=True)
rate5

            count
five_star      41
four_star       8
three_star      2
two_star        1
one_star        6

In [412]:
product5 = data5.get("product")
title5 = product5.get("title")
title5

'Xiaomi- Kit peatÃ³n con Cable clÃ¡sico\xa0â€“\xa0Negro'

In [413]:
rate5.insert(1, "product", ["Xiaomi", "Xiaomi", "Xiaomi", "Xiaomi", "Xiaomi"], True)
rate5.insert(0, "ReviewStar", [5, 4, 3, 2, 1], True)
final5 = rate5.reset_index(drop=True)
final5

   ReviewStar  count product
0           5     41  Xiaomi
1           4      8  Xiaomi
2           3      2  Xiaomi
3           2      1  Xiaomi
4           1      6  Xiaomi

In [420]:
df_row = pd.concat([final, final1], ignore_index=True)
df_row1 = pd.concat([df_row, final2], ignore_index=True)
df_row2 = pd.concat([df_row1, final3], ignore_index=True)
df_row3 = pd.concat([df_row2, final4], ignore_index=True)
wired_earphones = pd.concat([df_row3, final5], ignore_index=True)
wired_earphones

    ReviewStar  count                 product
0            5   1256                JBL T205
1            4    450                JBL T205
2            3    213                JBL T205
3            2    118                JBL T205
4            1    331                JBL T205
5            5    986    Samsung BT-EOEG920BR
6            4    238    Samsung BT-EOEG920BR
7            3    170    Samsung BT-EOEG920BR
8            2     85    Samsung BT-EOEG920BR
9            1    204    Samsung BT-EOEG920BR
10           5    109     Sennheiser Momentum
11           4     27     Sennheiser Momentum
12           3     23     Sennheiser Momentum
13           2     19     Sennheiser Momentum
14           1     13     Sennheiser Momentum
15           5  10569    Skullcandy Ink'd 2.0
16           4   3666    Skullcandy Ink'd 2.0
17           3   1941    Skullcandy Ink'd 2.0
18           2   1509    Skullcandy Ink'd 2.0
19           1   4314    Skullcandy Ink'd 2.0
20           5    332  Auriculares con Cables
21           4    136  Auriculares con Cables
22           3     59  Auriculares con Cables
23           2     29  Auriculares con Cables
24           1     35  Auriculares con Cables
25           5     41                  Xiaomi
26           4      8                  Xiaomi
27           3      2                  Xiaomi
28           2      1                  Xiaomi
29           1      6                  Xiaomi

In [422]:
wired_earphones.to_csv('../Data/WiredEarphones.csv')

In [434]:
d = {'col1': [1, 2, 3, 4, 5, 6]}
da = pd.DataFrame(d)

In [435]:
da

   col1
0     1
1     2
2     3
3     4
4     5
5     6

In [436]:
da.insert(1, "product", ["JBL T205", "Samsung BT-EOEG920BR", "Sennheiser Momentum", "Skullcandy Ink'd 2.0", "Auriculares con Cables", "Xiaomi"], True)
da.insert(2, "prices", [20, 20, 65, 23, 8, 11])

In [441]:
da.drop(["col1"], axis=1, inplace=True)

                  product  prices
0                JBL T205      20
1    Samsung BT-EOEG920BR      20
2     Sennheiser Momentum      65
3    Skullcandy Ink'd 2.0      23
4  Auriculares con Cables       8
5                  Xiaomi      11

In [442]:
da

                  product  prices
0                JBL T205      20
1    Samsung BT-EOEG920BR      20
2     Sennheiser Momentum      65
3    Skullcandy Ink'd 2.0      23
4  Auriculares con Cables       8
5                  Xiaomi      11

In [443]:
da.to_csv('../Data/ProductEarphones.csv')